---
title: Photography
permalink: /photos/
description: "Collection of photographs"
---

<h1>Photo Sets</h1>
<ul>
    {% comment %}
        Get all "photo_set" pages and display a list with links to them.
    {% endcomment %}
    {% assign photo_pages = site.pages | where: "layout", "photo_set" %}
    {% for photo_page in photo_pages %}
        <li>
        <a href="{{ photo_page.url | prepend: site.baseurl }}">{{ photo_page.title }}</a>
        </li>
    {% endfor %}
</ul>



<h1>Film</h1>
{% include image-gallery.html folder="/images/photos" %}

<h1>London</h1>
{% include image-gallery.html folder="/images/photos" %}